name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Build (${{ matrix.label }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - label: linux, aarch64
            target: aarch64-unknown-linux-gnu
            toolchain: stable
            os: ubuntu-24.04-arm

          - label: linux, x86_64
            target: x86_64-unknown-linux-gnu
            toolchain: stable
            os: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: dtolnay/rust-toolchain@master
        with:
          targets: ${{ matrix.target }}
          toolchain: ${{ matrix.toolchain }}

      - name: Build
        run: cargo build --target ${{ matrix.target }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get Image Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ github.repository_owner }}/actions-playground-example-one
          labels: |
            org.opencontainers.image.licenses=MIT OR Apache-2.0
          annotations: |
            manifest:org.opencontainers.image.licenses=MIT OR Apache-2.0
