name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Build (${{ matrix.label }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - label: linux, aarch64
            target: aarch64-unknown-linux-gnu
            toolchain: stable
            os: ubuntu-24.04-arm

          - label: linux, x86_64
            target: x86_64-unknown-linux-gnu
            toolchain: stable
            os: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: dtolnay/rust-toolchain@master
        with:
          targets: ${{ matrix.target }}
          toolchain: ${{ matrix.toolchain }}

      - name: Build
        run: cargo build --target ${{ matrix.target }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get Package Metadata
        id: package_meta
        shell: bash
        run: |
          package_name="example-one"
          package_meta=$(cargo metadata --no-deps --format-version 1 | jq -r ".packages[] | select(.name==\"$package_name\")")
          package_desc=$(echo "$package_meta" | jq -r '.description')
          package_lice=$(echo "$package_meta" | jq -r '.license')
          package_vers=$(echo "$package_meta" | jq -r '.version')

          {
            echo "labels<<EOF"
            echo "org.opencontainers.image.title=$package_name"
            echo "org.opencontainers.image.description=$package_desc"
            echo "org.opencontainers.image.licenses=$package_lice"
            echo "org.opencontainers.image.version=$package_vers"
            echo "EOF"
            echo "version=$package_vers"
          } >> $GITHUB_OUTPUT

      - name: Get Image Metadata
        id: image_meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ github.repository_owner }}/actions-playground-example-one
          labels: ${{ steps.package_meta.outputs.labels }}
          annotations: ${{ steps.package_meta.outputs.labels }}
          tags: |
            type=raw,value=latest
            type=semver,pattern={{version}},value=${{ steps.package_meta.outputs.version }}
            type=semver,pattern={{major}}.{{minor}},value=${{ steps.package_meta.outputs.version }}
            type=semver,pattern={{major}},value=${{ steps.package_meta.outputs.version }}
